/* NocturnoBG-Bold */
@font-face {
    font-family: 'NocturnoBG-Bold';
    src: local(''),
    url('/NocturnoBG-Bold') format('otf'),
  }
  
  /* NocturnoBG-BoldItalic */
  @font-face {
    font-family: 'NocturnoBG-BoldItalic';
    src: local(''),
    url('/NocturnoBG-BoldItalic.otf') format('otf');
  }
  /* NocturnoBG-Italic */
  @font-face {
    font-family: 'NocturnoBG-Italic';
    src: local(''),
    url('/NocturnoBG-Italic.otf') format('otf');
  }
  /* NocturnoBG */
  @font-face {
    font-family: 'NocturnoBG';
    src: local(''),
    url('/NocturnoBG.otf') format('otf');
  }
    